#![enable(implicit_some)]
[
    (
        name: "Oak Tree",
        category: Tree,
       sprite: SpriteRef(
            source: Sheet("default_map"),
            index: 96,
        ),
        base_dimensions: Cube( x: 50, y: 50, z: 700 ),
       	variance_dimensions: Cube ( x: 10, y: 10, z: 600),
        material_layers: [
       		(
        		name: "bark", 
        		value: 50,
        		material: (name: "oak", state: Solid ) 
        	)
       	],
        properties: [],
    ),
    (
        name: "Poplar Tree",
        category: Tree,
        sprite: SpriteRef(
            source: Sheet("default_map"),
            index: 96,
        ),
        base_dimensions: Cube( x: 30, y: 30, z: 800 ),
       	variance_dimensions: Cube ( x: 10, y: 10, z: 600),
        material_layers: [
       		(
        		name: "bark", 
        		value: 50,
        		material: (name: "wood", state: Solid ) 
        	)
       	],
        properties: [],
    ),

]