#![enable(implicit_some)]
[
    (
        name: "wood",
        inherits: "marble",
        category: Todo,
    ),
    (
        name: "oak",
        inherits: "marble",
        category: Todo,
    )
]