#![enable(implicit_some)]
[
	(
	    name: "Human",
	    sprite_number: 22,
	    body: "humanoid",
	    properties: [],
	    psyche: [],
	    attributes: (( // median value, 0-5000
		        strength: 1000,
		        agility: 1000,
		        toughness: 1000,
		        endurance: 1000,
		        immunity: 1000,
		        healing: 1000,
		        analytical: 1000,
		        focus: 1000,
		        willpower: 1000,
		        creativity: 1000,
		        intuition: 1000,
		        patience: 1000,
		        memory: 1000,
		        linguistic: 1000,
		        spatial: 1000,
		        kinesthetic: 1000,
		        empathy: 1000,
		        social: 1000,
		    ), ( // Standard deviation
		        strength: 200,
		        agility: 200,
		        toughness: 200,
		        endurance: 200,
		        immunity: 200,
		        healing: 200,
		        analytical: 200,
		        focus: 200,
		        willpower: 200,
		        creativity: 200,
		        intuition: 200,
		        patience: 200,
		        memory: 200,
		        linguistic: 200,
		        spatial: 200,
		        kinesthetic: 200,
		        empathy: 200,
		        social: 200,
		)),
	    needs: ((
	    	// NeedKind, base value (-127 - 127), weight (importance) (-127 - 127), decay rate (value, gametime)
	    	(Creativity, (value: 0,  weight: 0,  decay: (value: -1, time: 10))), 
	    	(Social,     (value: 0,  weight: 0,  decay: (value: -1, time: 10))), 
	    	(Love,       (value: 0,  weight: 0,  decay: (value: -1, time: 10))), 
	    	(Safety,     (value: 0,  weight: 0,  decay: (value: -1, time: 10))), 
	    	(HungerTolerance,     (value: 0,  weight: 0,  decay: (value: -1, time: 10))), 
	    	(ThirstTolerance,     (value: 0,  weight: 0,  decay: (value: -1, time: 10))), 
	    	(PainTolerance,       (value: 0,  weight: 0,  decay: (value: -1, time: 10))),
	    )),
	)
]